body {
    background-color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/*heading*/
.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffff
}
.header--secondary {
    font-weight: 300;
    font-size: 42px
    color: #fff;
}

img {
    width: 400px,
    height: 300px
}